* {
    box-sizing: border-box;
}

html,
body {
    box-sizing: inherit;
    line-height: 1.6;
}

.body-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header,main,section {
    width: 900px;
    margin: 0 auto;
    border-top: 2px solid;
}
.header-img {
    height: 300px;
    background-image: url(./project-website-1000px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-img img{
    height: 200px;
    width: 200px;
    border-radius: 300px;
}
.project1,.project2 {
    display: flow-root;
    margin: 10px 0;
}
.project1 img {
    width: 200px;
    float: left;
    margin-right: 20px;
}
.project2 img {
    width: 200px;
    float: left;
    margin-right: 20px;
}
.work-item{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-flow: row;
}
footer {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    gap: 10px;
}

footer img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

    .header-img {
        height: 250px;
    }
    
}

@media (min-width: 769px) {
    body {
        background-color: white;
    }

    .header-img {
        height: 500px;
    }
}
